/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 2550px) {
}

/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1700px) and (max-width: 2099.98px) {
}

/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1440px) and (max-width: 1699.98px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1439.98px) {
}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 1199.98px) {
  .banner .itemLeft p {
    margin-left: auto;
    margin-right: auto;
  }
  .banner .itemImg {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .Experience .itemLeft img {
    width: 370px;
  }
  .Experience .itemLeft .box {
    top: -85px;
  }
  .whyChoose .item h4,
  .whyChoose .item .h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .whyChoose .item p {
    font-size: 14px;
  }
  .Connect .mapConnect {
    margin-top: -50px;
    width: 98%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Connect .mapConnect .item .media-body {
    margin-left: 20px;
  }
  footer .item ul li a {
    font-size: 14px;
  }
  footer .item ul li {
    margin-top: 15px;
  }
  footer .copyright p {
    font-size: 16px;
  }
  // Portfolio start
  .Portfolio {
    padding-top: 90px;
    padding-bottom: 90px;
    .itemWrapp {
      height: 100%;
    }
    .item {
      height: 100%;
      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.697px; /* 125% */
        height: auto;
        opacity: 1;
        transition: all ease 0.6s;
        margin-top: 20px;
        margin-bottom: 0px;
      }
      &:hover {
        img {
          margin-top: 0px;
          opacity: 1;
          margin-bottom: 20px;
          transition: all ease 0.6s;
        }
        h4 {
          margin-top: 0px;
          margin-bottom: 20px;
          transition: all ease 0.6s;
        }
        p {
          margin-top: 20px;
          height: 100%;
          opacity: 1;
          transition: all ease 0.6s;
          margin-bottom: 0;
        }
      }
      h4 {
        font-size: 27.772px;
        width: 100%;
      }
    }
  }
  // Portfolio end
  .OurValues .d-flex .item {
    width: 275px;
  }
  .OurValues .d-flex .item p {
    font-size: 16.093px;
    line-height: 24.375px;
  }
  .ConsultingSuccess .item h2,
  .ConsultingSuccess .item .h2 {
    font-size: 60.729px;
    line-height: 70px;
    margin-bottom: 0;
  }
  .ConsultingSuccess .item p {
    font-size: 16.093px;
    line-height: 24px;
  }
  .ConsultingSuccess .item {
    padding: 40px 20px;
    height: 100%;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 991.98px) {
  .Experience .itemLeft .box {
    top: 0;
    position: static;
    display: block;
    width: 250px;
    margin: auto;
    margin-bottom: 30px;
  }
  .Experience .itemRight {
    width: 100%;
  }
  .Experience {
    margin-bottom: 57px;
  }
  .EsteemedClients .itemleft p {
    width: 100%;
  }
  .EsteemedClients .imgItem .imgBox {
    border-right: 0;
    min-height: auto;
    margin-bottom: 10px;
  }
  .EsteemedClients .imgItem {
    border-bottom: 0;
  }
  .EsteemedClients .itemleft p,
  .EsteemedClients .itemleft h2,
  .EsteemedClients .itemleft .h2 {
    text-align: center;
  }
  .latestBlog .item .imgBox img {
    width: 100%;
  }
  .whyChoose .item {
    border-right: 0;
    padding-right: 0px;
    padding-left: 0px;
  }
  .OurValues .d-flex {
    gap: 30px;
  }
  .OurValues .d-flex .item {
    width: 45%;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
  .OurValues .d-flex {
    gap: 30px;
  }
  .OurValues .d-flex .item {
    width: 100%;
  }
  .banner .itemLeft h1,
  .banner .itemLeft .h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .banner .itemLeft h1 strong,
  .banner .itemLeft .h1 strong {
    font-size: 38px;
  }
  .banner .itemLeft p {
    font-size: 18px;
  }
  .banner .itemLeft a span,
  .Unleashing .itemRight a span,
  .latestBlog .viewMoe a,
  .Portfolio .viewMoe a {
    font-size: 12px;
  }
  .banner .itemLeft a img,
  .Unleashing .itemRight a img {
    margin-right: 5px;
    width: 16px;
  }
  .banner .itemLeft a,
  .Unleashing .itemRight a,
  .latestBlog .viewMoe a,
  .Portfolio .viewMoe a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .Portfolio .item h4,
  .Portfolio .item .h4 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .Experience .itemLeft .box h4,
  .Experience .itemLeft .box .h4 {
    font-size: 60px;
  }
  .Experience .itemLeft .box h6,
  .Experience .itemLeft .box .h6 {
    font-size: 18px;
  }
  .Experience .itemLeft .box {
    width: 180px;
    padding: 25px;
  }
  .Experience .itemRight h2,
  .Experience .itemRight .h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 26px;
  }
  .Experience .itemRight p {
    font-size: 16px;
    line-height: 24px;
  }
  .commonItem h2,
  .commonItem .h2,
  .CompanyOverview .box h2,
  .CompanyOverview .box .h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .commonItem p {
    font-size: 16px;
    line-height: 24px;
  }
  .Portfolio .item ul li a {
    font-size: 14px;
  }
  .Portfolio .item {
    padding: 30px 20px 30px 20px;
  }
  .Unleashing .itemLeft h2,
  .Unleashing .itemLeft .h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .Unleashing .itemLeft p {
    font-size: 16px;
  }
  .EsteemedClients .itemleft h2,
  .EsteemedClients .itemleft .h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 26px;
  }
  .EsteemedClients .itemleft p {
    font-size: 16px;
    line-height: 24px;
  }
  .Spectrum.Feedback .sliderWrapp .sliderBody .item .feedbackText p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .Connect .mapConnect .item .imgBox {
    width: 50px;
    height: 52px;
  }
  .Connect .mapConnect .item .imgBox img {
    max-width: 25px;
  }
  .Connect .mapConnect .item .media-body strong {
    font-size: 18px;
  }
  footer .copyright ul {
    justify-content: center;
    margin-top: 20px;
  }
  footer .copyright p {
    text-align: center;
  }
  footer .itemLeft p {
    width: 100%;
  }
  .Connect .mapConnect {
    margin-top: -20px;
  }
  header .navbar-brand img {
    width: 210px;
  }
  .CompanyOverview .box p {
    font-size: 14px;
    line-height: 24px;
  }
  .aboutTitle {
    padding-top: 45px;
    padding-bottom: 60px;
  }
  .aboutTitle h1,
  .aboutTitle .h1 {
    font-size: 32px;
  }
  .CompanyOverview .box {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .OurValues .d-flex .item h4,
  .OurValues .d-flex .item .h4 {
    font-size: 24px;
  }
  .ConsultingSuccess .item h2,
  .ConsultingSuccess .item .h2 {
    font-size: 40.729px;
    line-height: 50px;
    margin-bottom: 0;
  }
  .ConsultingSuccess .item {
    padding: 30px 15px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/*Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 414px) {
}

/*Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/*Extra small devices (portrait phones, less than 360px)*/
@media (max-width: 360px) {
}

/*Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}

/* 
2560*1440
2160*1440
1920×1080
1600×900
1536×864
1440×900
1366×768    
1280×720    
1280×800    
1280×1024   
1024×768    
768×1024
 */
